.update-new-password-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.update-new-password-card {
  background-color: #ffffff;
  margin-bottom: 120px;
  width: 600px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 28px;
}
.next-button {
  padding: 16px;
  margin-top: 16px !important;
}
